# Angular specific
/Sisand.Angular/dist/
/Sisand.Angular/out-tsc/
/Sisand.Angular/tmp/
/Sisand.Angular/coverage/
/Sisand.Angular/e2e/test-output/
/Sisand.Angular/.angular/
/Sisand.Angular.angular/

# Node modules and dependency files
/Sisand.Angular/node_modules/
/Sisand.Angular/package-lock.json
/Sisand.Angular/yarn.lock

# Environment files
/Sisand.Angular/.env

# Angular CLI and build artefacts
/Sisand.Angular/.angular-cli.json
/Sisand.Angular/.ng/

# TypeScript cache
/Sisand.Angular/*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/bin/
**/obj/

**/*.nupkg
**/*.bak

.git

*.suo
.vscode/
.vs/